<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados da Verificação da Mega Sena</title>
</head>
<body>
    <h1>Resultados da Verificação da Mega Sena</h1>
    
    <div id="resultado">
        <h2>Acertos Encontrados</h2>

        {% for acerto in range(3, 7) %}
            {% if acertos[acerto] %}
                <h3>
                    {% if acerto == 6 %}
                        SENA - 6:
                    {% elif acerto == 5 %}
                        QUINA - 5:
                    {% elif acerto == 4 %}
                        QUADRA - 4:
                    {% elif acerto == 3 %}
                        Terno - 3:
                    {% endif %}
                </h3>

                {% if acerto >= 4 %}
                    😃🤑
                {% endif %}

                <ul>
                    {% for jogo in acertos[acerto] %}
                        <li>Jogo: {{ jogo }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
